<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="10 seconds" >
	<property scope="local" name="logDir" value="${aims.root.path}/log" />
	<property scope="local" name="logRollingDir" value="${logDir}/msp" />
	<property scope="local" name="fileName" value="msp" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]%highlight([%-5level])[%thread][%logger{0}] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="mspAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDir}/${fileName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>${logRollingDir}/${fileName}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	      <maxHistory>14</maxHistory>
	      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        <maxFileSize>10MB</maxFileSize>
	      </timeBasedFileNamingAndTriggeringPolicy>
	    </rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%thread][%logger{0}] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="mspAppender" />
	</root>
</configuration>